<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/main.css">

    <title>Caos</title>
  </head>
  <body>
    <div id="app">

      <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Caos</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">T-shirts <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">New</a></li>
                    <li><a href="#">Best Seller</a></li>
                    <li><a href="#">Loyalist Sports</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Archive Tees</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Kids</a></li>
                  </ul>
                </li>
                <li><a href="#">New</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sale <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Today's Deals</a></li>
                    <li><a href="#">Clearance</a></li>
                    <li><a href="#">Mystery Tee</a></li>
                    <li><a href="#">Shirt of the Month</a></li>
                    <li><a href="#">All Fun Stuff</a></li>
                  </ul>
                </li>

              </ul>

              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search
    "></span></button>
              </form>

              <ul class="nav navbar-nav navbar-right">
                <li v-if="!is_login"><a href="login.html">Login</a></li>
                <li v-if="is_login"><a class="btn" v-on:click="signOut">Sign Out</a></li>

                <li><a href="checkout.html"><span class="glyphicon glyphicon-shopping-cart"></span><span class="badge">{{cart_counter}}</span></a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>



        <div class="row">
          <div class="col-md-6">
            <h2>Sign in</h2>
            <form class="form-horizontal" v-on:submit="onSubmitForm" >
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" v-model="user.username" placeholder="Username">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" v-model="user.password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
            </form>



          </div>
      	</div> <!-- end of row -->



        <div class="push"></div>

        <div class="footer">
          <p>Copyright (c) 2017</p>
        </div>



      </div> <!-- end of container -->





    </div> <!-- end of app -->

  </body>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: "Sup",
        items: [],
        cart_counter: 0,
        user: {name: "", username: "", email: "", password: ""},
        is_login: false
      },
      methods: {
        addCartCounter: () => {
          this.cart_counter+=1;
        },
        onSubmitForm: (e) => {
          e.preventDefault();
          // alert(app.user.username)

          axios.post('http://localhost:3000/users/signin', {
            username: app.user.username,
            password: app.user.password
          })
          .then(function (response) {
            // get the token, save in local storage
            console.log(response);
            localStorage.setItem('token', response.data);
            console.log(localStorage.token);

            window.location.href = "index.html"

          })
          .catch(function (error) {
            console.log(error);
          });

          // this.$http.post('/api/users',this.user,function(data){
          //    router.go('/');
          // })
          // .error(function(data){
          //   if(data.errors != 'undefined')
          //   {
          //     this.$set('error',data.errors);
          //   }
          // });

        }
      },
      created: () => {
        // this function will be executed when the page is loaded.
        axios.get('http://localhost:3000/items/')
        .then (response => {
          // console.log(response);
          // app.items.push(response.data[0])
          // need to call app.items instead of this.items
          app.items = response.data;
          console.log(this.items);

        })
        .catch (err => {
          console.log(err);
        })

      }
    }) // end of var app


  </script>
</html>
